<html>

<head>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="/js/dashboard.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>

</head>
<style>
#map {
  min-width: 100px;
  width: 100%;
  min-height: 100px;
  height: 30%;
  border: 1px solid black;
}
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<body>
  <div id="overlay">
    <div class="container col-lg-12 text-center">
      <canvas id="canvas" class="mt-5 col-lg-5"></canvas>
      <video id="video" class="mt-5 col-lg-5"></video>
      <div class="col-lg-12">
        <h1 class="display-3 feeTitle">Fee to Charge</h1>
        <input type="number" id="feeInput" class="w-50 text-center feeInput"></input>
        <button id='snapButton' class="w-50">Charge Rider</button>
      </div>
    </div>
  </div>
  <div font-family="MainFont">
    <%if (typeof link!=='undefined') { %>
    <p  id='hidden' style="display:none;"><%=link%></p>
<%} %>


  <div class="topbar">
    <img src="../images/logo.png" alt="Logo">
    <a class="barname">FaceLyft</a>
  </div>

  <div class="background">

  <div class="information">

    <div class="profile">
      <div class="profilestyle">
        <%if (typeof data!=='undefined') { %>
        <img src="<%= data.pictureURL %>" alt="User">
        <div class="profiletext">
        <h2><%= data.name %></h2>
        <p><%= data.email %></p>
        <p><%= data.phonenumber %></p>
        <%}  %>
        </div>
        <div class="request">
        <button type="button" class="buttreq" onclick="openCameraOverlay()">Request Money</button>
        </div>
      </div>
    </div>

    <div class="car">
      <div class="cardetails">
        <h2>Car Details</h2>
        <%if (typeof carData!=='undefined') { %>
        <p id="carName"><%= carData.info.year %> <%= carData.info.make %> <%= carData.info.model %> </p>
        <p id="odoName">Current KM's:  <%=carData.odometer.data.distance %> KM</p>
        <p id="vinName">VIN Number: <%=carData.VIN %> </p>
        <%}  %>
        <img class="carImage" src="https://i.ytimg.com/vi/NwN_uIWpNOQ/maxresdefault.jpg"></src>
      </div>
      <div class="carlock">
        <button id = 'lock'class="btn"><img src="../images/lock.png" width =65 height=65></button>
        <button id='unlock'class="btn"><img src="../images/unlock.png" width =50 height=50></button>
        <h3>Lock or unlock your car</h3>
      </div>
      <h4 style="text-align:center;">Find your car below!</h4>
      <div id="map"></div>
    </div>

    <div class="card col-md-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Recent Transcation</h5>
      <h6 id="t1" class="card-subtitle test mb-2 text-muted"></h6>
      <p id="t2" class="card-text test-title"></p>
      <p id="t3" class="card-text test-title"></p>
    </div>
   </div>
     <button onclick="loadHistory()" class="refreshButton">Refresh</button>
   </div>



   </div>
   </div>

</body>
<script>
  var map;
  function initMap() {
    <%if (typeof carData!=='undefined') { %>
        var  center= {lat: <%= carData.location.data.latitude%>, lng:<%= carData.location.data.longitude%>}
<%} %>
    map = new google.maps.Map(document.getElementById('map'), {
      center:center,
      zoom: 17
    });
  var marker = new google.maps.Marker({
    position: center,
    map: map,
    title: 'Your car is here!'
  });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC4cKtDG7Su8HZ7wVy8GoQglXwJxaSbcY&callback=initMap"
async defer></script>

</html>
