<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="/js/dashboard.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>

</head>

<body>
  <div id="overlay">
    <div class="container col-lg-12 text-center">
      <canvas id="canvas" class="mt-5"></canvas>
      <video id="video" class="mt-5"></video>
      <div class="col-lg-12">
        <button id='snapButton' class="w-50">Verify Rider</button>
      </div>
    </div>
  </div>
  <div font-family="MainFont">
    <%if (typeof link!=='undefined') { %>
    <p  id='hidden' style="display:none;"><%=link%></p>
<%} %>

  <div class="topbar">
    <img src="../images/logo.png" alt="Logo">
    <a class="barname">FaceLyft</a>
  </div>

  <div class="background">

  <div class="information">

    <div class="profile">
      <div class="profilestyle">
        <%if (typeof data!=='undefined') { %>
        <img src="<%= data.pictureURL %>" alt="User">
        <div class="profiletext">
        <h2><%= data.name %></h2>
        <p><%= data.email %></p>
        <p><%= data.phonenumber %></p>
        <%}  %>
        </div>
        <div class="request">
        <button type="button" class="buttreq" onclick="openCameraOverlay()">Request Money</button>
        </div>
      </div>
    </div>

    <div class="car">
      <div class="cardetails">
        <h2>Car Details</h2>
        <p>Insert Information Here.</p>
      </div>
      <div class="carlock">
        <button class="btn"><img src="../images/lock.png" width =65 height=65></button>
        <button class="btn"><img src="../images/unlock.png" width =50 height=50></button>
        <h3>Lock or unlock your car</h3>
      </div>
    </div>

   </div>

   </div>
   </div>

</body>

</html>
